.App {
  display: flex;
  justify-content: center;
}

.table {
  border-collapse: collapse;
}

.table_td {
  border: 2px solid var(--color-border);
  padding: 10px 20px;
  background: var(--color-bg);
  min-width: 150px;
}


.table_row td:hover {
  background: var(--color-bg-hover);
}

.hint {
  background: #c3c6fa;
}
